h1 { text-align: center;}

div {
  border: 1px solid blue;
  width: 30%;
  vertical-align: top;
  padding: 0.5em;
  box-sizing: border-box;
}

div:last-child {
  margin-right: 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

section {
  display: flex;
  justify-content: space-between;
  background-color: #dddddd;
  padding: 1em;
}

section div {
  background-color: white;
}

@media (max-width: 800px) {
  div:last-child {
    order: -1;
  }

  section {
    flex-direction: column;
  }

  section div {
    margin: 1em auto;
  }
}
